
  .content {
    display: flex;
    height: 670px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url("../../../assets/fondo1.png");
    background-repeat: no-repeat;
    background-color: #852881;
  }

  .logo-partido{
    scale: 500%;
    z-index: 1000;
  }
