<div class="content text-center">

  <div class="galeria">

    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">


      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7176.png">
          <img class="img-responsive" alt="img1"
                src="./../../../assets/galeria/IMG_7176.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7218.png">
          <img class="img-responsive" alt="img2"
                src="./../../../assets/galeria/IMG_7218.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7204.png">
          <img class="img-responsive" alt="img3"
                src="./../../../assets/galeria/IMG_7204.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7219.png">
          <img class="img-responsive" alt="img4"
                src="./../../../assets/galeria/IMG_7219.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7220.png">
          <img class="img-responsive" alt="img5"
                src="./../../../assets/galeria/IMG_7220.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7225.png">
          <img class="img-responsive" alt="img6"
                src="./../../../assets/galeria/IMG_7225.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7238.jpg">
          <img class="img-responsive" alt="img7"
                src="./../../../assets/galeria/IMG_7238.jpg" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7243.png">
          <img class="img-responsive" alt="img8"
                src="./../../../assets/galeria/IMG_7243.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7252.jpg">
          <img class="img-responsive" alt="img9"
                src="./../../../assets/galeria/IMG_7252.jpg" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7254.png">
          <img class="img-responsive" alt="img10"
                src="./../../../assets/galeria/IMG_7254.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7257.png">
          <img class="img-responsive" alt="img11"
                src="./../../../assets/galeria/IMG_7257.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7260.jpg">
          <img class="img-responsive" alt="img12"
                src="./../../../assets/galeria/IMG_7260.jpg" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7263.png">
          <img class="img-responsive" alt="img13"
                src="./../../../assets/galeria/IMG_7263.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7269.png">
          <img class="img-responsive" alt="img14"
                src="./../../../assets/galeria/IMG_7269.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7271.png">
          <img class="img-responsive" alt="img15"
                src="./../../../assets/galeria/IMG_7271.png" />
      </a>
      <a data-xs-size="480-475-480" class="gallery-item"
          data-src="./../../../assets/galeria/IMG_7276.png">
          <img class="img-responsive" alt="img16"
                src="./../../../assets/galeria/IMG_7276.png" />
      </a>
    </lightgallery>
  </div>
</div>
